
/* S T A R T - V A R I A B L E S  */
:root {
  /* C O L O U R S  */
  --color-brand: rgba(33, 150, 243, 1);
  --accent-color: rgba(0, 0, 0, 1);
  --secondary-color: rgba(117, 117, 117, 1);
  --titles-color: rgba(33, 33, 33, 1);

  /* B A C K G R O U N D S  */
  --header-background: rgba(236, 236, 236, 1);
  --footer-bg: rgba(47, 48, 58, 1);
  --team-background: rgba(245, 244, 250, 1);
  --text-color-article: rgba(117, 117, 117, 1);

  /* T E X T - C O L O U R S */
  --footer-text: rgba(255, 255, 255, 0.6);
  --about-us: rgba(255, 255, 255, 1);

  /* B O R D E R S */
  --item-border: rgba(238, 238, 238, 1);

  /* F O N T S */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

/* F I N I S H  - V A R I A B L E S  */

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background-color: var(--about-us);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background-color: var(--about-us);
  border-bottom: 1px solid;
  border-bottom-color: var(--item-border);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: var(--color-brand);
  font-family: var(--secondary-font);
  line-height: auto;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.header-logo_span {
  color: var(--span-color);
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  gap: 93px;
  align-items: center;
}

.nav-link:hover {
  color: var(--color-brand);
}

.header-nav-link {
  color: var(--titles-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: auto;
  font-size: 14px;
}
.header-nav-link:hover {
  color: var(--color-brand);
}

.header-info-list,
.header-nav-list {
  display: flex;
  gap: 50px;
}


.header-info-link {
  color: var(--text-color-article);
  line-height: auto;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
}

/*! H E A D E R   E N D */

.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  background-color: var(--footer-bg);
}

.hero-container {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--about-us);
  padding-bottom: 30px;
}

.hero-button {
  padding: 10px 32px 10px 32px;
  background-color: var(--color-brand);
  color: var(--about-us);
  margin: 0 auto;
  border-width: 0;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 30px;
  font-size: 16px;
}


/*! H E R O  E N D */

.details {
  padding-top: 94px;
  padding-bottom: 94px;
}

.details-container {
  display: flex;
  align-items: baseline;
}

.details-list {
  display: flex;
  gap: 30px;
}

.details-item {
  width: 270px;
  height: 98px;
}

.details-title {
  color: var(--titles-color);
  font-weight: 700;
  line-height: auto;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.details-description {
  color: var(--text-color-article);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* !B E N E F I T S  E N D */

.doing {
  padding-bottom: 94px;
}

.doing-list {
  display: flex;
  gap: 30px;
}

.doing-title {
  padding-bottom: 50px;
  text-align: center;
  color: var(--titles-color);
  font-size: 36px;
  letter-spacing: 0.03em;
  line-height: auto;
  font-weight: 700;
}

.doing-img {
  width: 370px;
  height: 294px;
}

.doing,
.benefits {
  background-color: var(--about-us);
}

/* !D O I N G  E N D */
.team {
  background-color: var(--background-team);
  padding-bottom: 94px;
}

.team-title {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: auto;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}

.team-list {
  width: 1170px;
  padding-bottom: 94px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team-item {
  background-color: var(--about-us);
  width: 270;
  height: 368px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
}

.team-img {
  width: 270px;
  height: 260px;
}

.team-role {
  color: var(--text-color-article);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: auto;
  padding-bottom: 30px;
}

.team-name {
  color: var(--titles-color);
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}


/* !T E A M  E N D */

.footer {
  background-color: var(--footer-bg);
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  color: var(--color-brand);
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: var(--secondary-font);
  line-height: auto;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.footer-logo-span {
  color: var(--about-us);
  font-family: var(--secondary-font);
  line-height: auto;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}


.address {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-style: normal;
}

.address-item {
  padding-top: 20px;
  color: var(--about-us);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address-link {
  color: var(--footer-text);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* !P O R T F O L I O */

.category-list {
  display: flex;
  justify-content: space-between;
  padding: 94px 298px 34px 297px;
  margin: 0 auto;
}

.category-button {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500 ; 
  color: var(--titles-color);
  line-height: 26px;
  letter-spacing: 3%;
  background-color: var(--team-background);
  border-width: 0;
  border-radius: 4px;
  height: 38px;
  text-align: center;
  width: auto;
  padding-right: 22px;
  padding-left: 22px;
}

.category-button:hover {
  color: var(--about-us);
  background-color: var(--color-brand);
    font-weight: 500;
}





/* !A D V  S E C T I O N */

.porfolio-container {
  display: flex;
  margin: 0 auto;
}

.porfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.porfolio-item {
  height: 404px;
  width: 370px;
  margin-bottom: 30px;
  background-color: var(--about-us);
  border-width: 1px;
  border-color: var(--item-border);
  border-style: solid;
  flex-direction: column;
  text-align: start;
}

.porfolio-item:nth-child(n+7) {
  margin-bottom: 94px;
}

.porfolio-title {
  color: var(--titles-color);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 36px;
  padding-top: 20px;
  padding-left: 24px;
  margin: 0 0 0 0;
}

.porfolio-subtitle {
  color: var(--text-color-article);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  padding-top: 4px;
  padding-left: 24px;
  margin: 0 0 0 0;
}

.porfolio-image {
  width: 370px;
  height: 294px;
}